<body>
    <div class="p-2 mb-1 bg-dark text-white"> <br><br><br></div>
    <div class="center">
        <table class="table" style="align-self: center; margin-left: 30%; margin-bottom: 10%;">
            <tr scope="row">
                <img src="assets/img/LOGO_WHITE.png" style="width: 50%;" alt="">
                <br>
            </tr>
            <tr scope="row">
                <h6
                    style="color: white; font-family: bungee; font-size: 0.7vw; margin-left: 16%; margin-right: 20%; align-content: center;">
                    A NEW NFT
                    BASED DESIGN STUDIOS</h6>
            </tr>
            <tr scope="row">
                <br>
                <br>
                <br>
                <br>
                <h1
                    style="color: white; font-family: bungee;  font-weight: bolder; font-size: 2.2vw; margin-left: 12%; margin-right: 20%; ">
                    COMING SOON</h1>
            </tr>
            <tr scope="row">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


                <h6
                    style="color: grey; font-family: bungee; font-size: 1vw; margin-left: 20%; margin-right: 20%; ">
                    FOLLOW US</h6>
            </tr>
            <tr scope="row">
                <div style="margin-left: 17%;">
                    <a href="https://discord.link/newmeta" target="_blank">
                        <img
                        src="assets/img/discord_image.png" style="width: 4%; " alt=""></a>
                        &nbsp;&nbsp; <a href="https://twitter.com/0xNewMeta" target="_blank"> <img
                                src="assets/img/twitter-48.png" style="width: 2%; " alt=""></a>
                        &nbsp;<a href="http://instagram.com/0xnewmeta" target="_blank"><img
                                src="assets/img/instagram.png" style="width: 4%; " alt=""></a>
                                <a href="https://twitter.com/0xNewMeta" target="_blank"> <img src="assets/img/medium.png" style="width: 4%; " alt=""></a>
                </div>
            </tr>
        </table>
    </div>
    <div class="p-3 mb-2 bg-dark text-white" style="margin-top: -9%;"> <br><br><br></div>
</body>