.footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
  }

  .bg-dark  {
    background-color: #111111 !important;
   
}

hr.solid {
    border-top: 2px solid #999; color: #FFFFFF;
    width: 80vw; margin-right: 40vw;
}