<body class="jumbotron">
    <div class="center">
      <table class="fixed-top">
        <tr>
          <img class="img-fluid" style="max-width: 5%; align-self: center;"
            src="assets/img/logos/SMALL_WHITE_EMPTY.png" alt="Responsive image">
        </tr>
      </table>
      <table style="align-self: center; margin-left: 25%;">
        <tr>
          <td style="align-self: center;">
            <img style="max-width: 70%; align-self: center;" src="assets/img/LOGO_WHITE.png"
              alt="Responsive image">
          </td>
        </tr>
      </table>
      <table style="align-self: center; margin-right: 25%;">
        <tr>
          <td style="align-items: center;">
            <h1 class="blink_me" style="font-size: 70px; font-weight: bolder; font-family:fantasy; color:	#FFFF00">
              Launching Soon
            </h1>
          </td>
          <hr>
          <hr>
        </tr>
        <tr>
          <td style="align-items: center;">
            <h1 style="font-size: 30px; font-family: monospace; font-weight: bolder; color:#FF4500" id="demo"></h1>
          </td>
        </tr>
      </table>
      <table class="fixed-bottom" style="margin-left: 80%; margin-bottom: 2%; border-collapse: separate;
      border-spacing: 30px 0;">
        <tr>
          <td style="font-size: x-large; "><a href=""  target="_blank" class="fa fa-facebook"></a></td>
          <td style="font-size: x-large; "><a href="https://twitter.com/0xNewMeta"  target="_blank" class="fa fa-twitter"></a></td>
          <td style="font-size: x-large; "><a href="#"  target="_blank" class="fa fa-linkedin"></a></td>
          <td style="font-size: x-large; "><a href="http://instagram.com/0xnewmeta"  target="_blank" class="fa fa-instagram"></a></td>
          <td style="font-size: x-large; "><a href="#"  target="_blank" class="fa fa-pinterest"></a></td>
          <td style="font-size: x-large; "><a href="https://medium.com/@0xnewmeta"  target="_blank"class="fa fa-medium"></a></td>
          <td style="font-size: x-large; "><a href="#"  target="_blank"class="fa fa-telegram"></a></td>
        </tr>
      </table>
  
    </div>
  </body>