::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: smaller;
    color: #FFFFFF;
    font-family: bungee;
}

.bg-dark  {
    background-color: #111111 !important;
   
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #000000 !important;
    border: none;
    box-shadow: none;
}



